{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>My Projects</h1>
<p>Here you'll find some of my personal machine learning projects.</p>

<h3>AI Assistant</h3>
<p>This project is a chatgpt based bot. This is where you can play with it: <a href="https://asistent.florinhegedus.com">my assistant</a>.</p>

<h3>RAG system: chat with multiple PDFs</h3>
<p>Embedded information from pdfs and used an LLM to create this app: <a href="https://chatwithpdf.florinhegedus.com">chat with pdf</a>.</p>

<h3>La Cafeluta</h3>
<p>La Cafeluta is a site where I put my lifestyle ideas.</p>
{% endblock %}
